.shopping__header {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .shopping__title {
    font-weight: 200;
    line-height: 45px;
  }
  .shopping__logo {
    width: 50px;
    height: 45px;
  }
  